<h2>Listado de productos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th> 
        </tr>
    </thead>

    <tbody>
        {{#each productsArray}}
        <tr>
            {{#each this}}
            {{#if this}}
            {{#if _id}}
                <td>{{_id}}</td>
            {{/if}}
            {{#if title}}
                <td>{{title}}</td>
                 <td>
                    <a href="/api/products/{{this._id}}">Detalles</a>
                    <button class="add-to-cart-button" data-product-id="{{this._id}}">Añadir al carrito</button>
                </td>
            {{/if}}
            
            {{/if}}
            {{/each}}
        </tr>
        {{/each}}

    </tbody>
</table>